* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  align-items: center;
  background: #fff;
  display: flex;
  font-size: 24px;
  width: 100%;
  gap: 40%;
  justify-content: center;
  padding: 20px;
  padding-left: 10px;
  position: fixed;
}

a {
  text-decoration: none;
  color: #000;
}

/* Food */
#food {
  justify-content: center;
  padding: 60px;
  text-align: center;
}

.food-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  justify-content: center;
  line-height: 1.5;
  padding-top: 60px;
}

.foodcards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  justify-content: center;
  line-height: 1.5;
  padding-top: 50px;
}

.pictures{
  max-width: 100%;
  min-height: 70%;
}

figcaption {
  justify-content: center;
  text-align: center;
  color: #000;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: -2vh;
}

.pagination {
  padding: 70px;
}

.pagination .button {
  padding: 15px;
}

.pagination .button:hover {
  color: #fff;
  background-color: #000;
}

/* About */
hr {
  margin: 50px;
  margin-top: -10vh;
}

#about {
  justify-content: center;
  max-width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: 400;
  padding-top: 20px;
}

.chefman {
  text-align: center;
  margin-top: 35px;
  width: 100%;
}

h2 {
  line-height: 2.5;
  padding-top: 20px;
}

.text {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 140px;
  padding: 0;
}

.paragraph {
  margin-top: 12px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  max-width: 90%;
  margin: auto;
}

.footer h3 {
  font-size: 25px;
  font-weight: 400;
}

.footer-a {
  line-height: 1.5;
}

.photo {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.photo img {
  width: 25%;
  margin-right: 20px;
}

h4 {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
}

.lorem {
  line-height: 1.5;
}

.ipsum {
  line-height: 1.5;
}

.photo:hover {
  background-color: #dcdcdc;
}

.footer-c {
  width: 59%;
  line-height: 2;
}

.tags {
  padding: 3px 8px;
  background-color: #808080;
  display: inline-block;
  line-height: 1;
  color: #fff;
  font-size: small;
}

.tags:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px) {

  .body {
    overflow-x: hidden;
  }

  nav {
    display: flex;
    gap: 10%;
  }

  .food-cards {
    line-height: 0.5;
  }

  .pictures {
    height: 50%;
  }

  .figcaption {
    line-height: 1;
  }

}
